<!-- Tabla de resutados de busqueda y Paginador-->
<div id="divTablaResultados" *ngIf="AccionABMC == 'L' &&  Items?.length > 0">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>

        <th class="text-center">Nombre</th>
        <th class="text-center">Fecha de Alta</th>
        <th class="text-center">Stock</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items">
        <td>{{item.ProductoNombre | uppercase}}</td>
        <td>{{item.ProductoFechaAlta| date:'dd/MM/yyyy'}}</td>
        <td class="text-right">{{item.ProductoStock}}</td>
      </tr>
    </tbody>
  </table>